/*页面整体*/
.page-wrap{
    padding: 20px 0;
}
.page-con{
    margin: 0 auto;
    text-align: center;
}
/*大标题*/
.user-title{
    /*text-align: center;*/
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 24px;
    font-weight: bold;
    color: #666;
}
/*所有输入的部分*/
.user-box{
    position: relative;
    /*padding: 0 400px;*/
}
/*异常框，正常情况下隐藏*/
.error-item{
    /*display: none;*/
}
/*图标设定*/
/*图标与输入框在同一行*/
.icon{
    display: inline;
    vertical-align: middle;
    background: #eee;
    border: #999 solid 1px;
}
/*异常框，正常情况下隐藏*/
.error-item{
    padding: 0 30px;
    background: #FFC0CB;
    color: red;
    border: 1px solid red;
}
.error-icon{
    height: 20px;
    width: 20px;
    background: none;
    border: none;
}
.error-item, .user-item{
    margin: 20px 0;
    vertical-align: middle;
}
.user-content{
    margin: 0 0 0 -5px;
    height: 30px;
    vertical-align: middle;
    width: 200px;
    outline: none;
    font-size: 16px;
    padding-left: 5px;
    border: #999 solid 1px;;
}
.link-item{
    margin-top: 5px;
}
.input-tip{
    font-size: 18px;
    /*span 设置宽度*/
    display: inline-block;
    width: 100px;
}
select{
    margin: 0 0 0 -5px;
    height: 32px;
    vertical-align: middle;
    width: 207px;
    outline: none;
    font-size: 16px;
    padding-left: 2px;
    border: #999 solid 1px;;
}
/*.middle{*/
    /*padding: 10px 0;*/
    /*border-bottom: 1px solid #ddd;*/
    /*font-size: 24px;*/
    /*font-weight: bold;*/
    /*color: #361;*/
    /*background: #111;*/
/*}*/
.detail{
    padding: 10px 10px 0 0;
    float: left;
    text-align: left;
    width: 640px;
}
.subtitle .bold-title{
    text-align: left;
    font-weight: bold;
}
.image img{
    width: 400px;
    float: right;
    margin: 50px 20px 100px 0;
}
.table{
    text-align: right;
    width: 1080px
}
.table .subtitle2{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 1080px;
}
